body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #F5F5F5;
}

section {
   padding: 150px 125px 0 125px;
}

section:first-child {
    margin-top: 0;
}

.section-long {
    padding-bottom: 150px;
}

.section-black {
    background-color: #121212;
}

.conteiner {
    width: 1400px;
    margin: 0 auto;
    background: #FFFFFF;
}

h1, h2, h3 {
    color: #121212;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -1.8px;
}

h2 {
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
}

p.description {
    font-size: 45px;
    line-height: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1048px;
    letter-spacing: -1.35px;
}

.team {
    position: relative;
    width: 100%;
}

.team p {
    position: absolute;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    color: #FFF;
    text-align: left;
    width: 450px;
    bottom: 40px;
    left: 40px;
}

.ViewServices a {
    display: inline-flex;
    padding: 20px 40px;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
}

.projects {
    margin-top: 30px;
    width: 1400px;
}

.projects .project {
    margin-top: 90px;
}

.projects :first-child {
    margin-top: 0;
}

.projects h3 {
    margin-top: 15px;
    color: #121212;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.project__img {
    width: 1150px;
    height: 450px;
    flex-shrink: 0;

}

.project__zhk {
    margin-bottom: 15px;
}

.project__info {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    color: #AD1818;
    border: none;
    padding-left: 0;
    text-decoration: none;
}

a.btn {
    display: block;
    width: 1150px;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding-top: 56px;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    text-decoration: none;

}

.btn:hover {
    color: #FFF;
    background-color: #AD1818;
}

.section-black h2, h3 {
    color: #FFF;
}
.service h3 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
}

.service_img {
    width: 1150px;
    height: 270px;
}

.services {
    margin-top: 34px;
}

.services .service {
    margin-top: 60px;
}

.services :first-child {
    margin-top: 0;
}
